#STAGE=dev

# DB_USERNAME=cftaboada
# DB_PASSWORD=MyPictodb890113
# DB_NAME=pictodb
# DB_HOST=localhost
# DB_PORT=5432

# #PORT=3000
# HOST_API=http://localhost:3000/api

# JWT_SECRET=PictoGramas890113

# CLOUD_NAME=dwsrfkxof
# CLOUDINARY_API_KEY=425615875849448
# CLOUDINARY_API_SECRET=LdrtgrSAlhsDAo2BgvKkIuad_IE


